.page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	background-color: #090909;
	color: var(--text-color);
}

app-title {
	margin-bottom: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%; /* so the a's can expand fully */
}

a:nth-child(even) {
	animation: flowing-border 3s ease-in-out infinite;
}

a:nth-child(odd) {	
	animation: flowing-border-opposite 3s ease-in-out infinite;
}


a {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	width: 16rem;
	transition: 0.1s;
	background-color: var(--text-color);
	color: var(--bg-color);
	text-transform: lowercase;
	outline: none;

	/* for trailing lines bug in chrome */
	-webkit-transform: translate3d(0,0,0);
}

@media screen and (min-width: 768px) {
	a:focus, a:hover {
		width: 100%;
		font-weight: 700;
		border-radius: 0 0 0 0;
		animation: none;
		padding: 1rem;
		color: var(--text-color);
		text-shadow: 0 0 0.25rem var(--bg-color);
	}
}

@keyframes flowing-border {
	0% {
		border-radius: 4rem 0 4rem 0;
	}

	50% {
		border-radius: 0 4rem 0 4rem;
	}

	100% {
		border-radius: 4rem 0 4rem 0;
	}
}
@keyframes flowing-border-opposite {
	0% {
		border-radius: 0 4rem 0 4rem;
	}

	50% {
		border-radius: 4rem 0 4rem 0;
	}

	100% {
		border-radius: 0 4rem 0 4rem;
	}
}