* {
	/* Variables */
	--bg-color: #090909;
	--text-color: #fdfdfd;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	background-color: #090909;
}

h1 {
	font-weight: 700;
	margin-bottom: 3rem;
	color: var(--text-color);
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%; /* so the a's can expand fully */
}

a:nth-child(even) {
	animation: flowing-border 3s ease-in-out infinite;
}

a:nth-child(odd) {	
	animation: flowing-border-opposite 3s ease-in-out infinite;
}


a {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	width: 12rem;
	transition: 0.1s;
	background-color: var(--text-color);
	color: var(--bg-color);
	text-transform: lowercase;

	/* for trailing lines bug in chrome */
	-webkit-transform: translate3d(0,0,0);
}

.tenechi {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.tenechi:hover {
	background-image: url('../../../assets/tenechiUhh.png');
	background-size: cover;
}

@media screen and (min-width: 768px) {
	a:focus, a:hover {
		width: 100%;
		font-weight: 700;
		border-radius: 0 0 0 0;
		animation: none;
		padding: 1rem;
		color: var(--text-color);
		outline: var(--text-color) 0.2rem solid;
		text-shadow: 0 0 0.25rem var(--bg-color);
	}
}

@keyframes flowing-border {
	0% {
		border-radius: 4rem 0 4rem 0;
	}

	50% {
		border-radius: 0 4rem 0 4rem;
	}

	100% {
		border-radius: 4rem 0 4rem 0;
	}
}
@keyframes flowing-border-opposite {
	0% {
		border-radius: 0 4rem 0 4rem;
	}

	50% {
		border-radius: 4rem 0 4rem 0;
	}

	100% {
		border-radius: 0 4rem 0 4rem;
	}
}