* {
	/* Overrides */
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	/* Variables */
	--bg-color: #090909;
	--text-color: #fdfdfd;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: var(--text-color);
}